
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/home">Chat Client-Server</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto" id="reload">
          <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members">Members</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout"><span class="fa fa-sign-out"></span>Logout</a>
          </li>


          <!-- Dropdown -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
               
                <% if(data.totalRequest > 0) { %>
                  <h6 class="dropdown-item text-center">Friend Request  <%= data.request.length %> </h6> 
                    <% _.forEach(data.request, function (val) { %>
                      <div>
                        <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                        <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">                        
                        <strong id=""><%= val.username %></strong><button type="submit" name="accept" id="accept_friend" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                      </div>
                        
                      <div>
                        <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId._id %>">
                        <button type="submit" name="cancel" id="cancel_friend" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                      </div>
                        
                     
                     <% }) %>
                <% } else { %>
                  <a class="dropdown-item" href="#">No Friend Request</a>
                <% } %>  

              </div>
          </li>

          <li>
            <%- include('message.ejs'); %>
            
          </li>

      </ul>
      <!-- Links -->


      <form class="form-inline">
          <div class="md-form my-0" style="color: white;">
              <a><%= user.username %></a>
          </div>
      </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<br><br><br>
