<!DOCTYPE html>
<html>

<head>

    <title>C.CHAT</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"> 

</head>


<body>

  <%- include('partials/navbar.ejs'); %>

  <hr>

<div class="container">
  
    <input type="hidden" id="name-user" value="<%= user.username %>">
    <input type="hidden" id="name-image" value="<%= user.userImage %>">

      <% _.forEach(chunks, function(val) { %>

        <div class="card-deck">
          <% _.forEach(val, function(val2) { %>
          
          <a href="/group/<%= val2.name.replace(/ /g, "-") %>" class="card-link">
            <div class="card">
              <img src="/uploads/<%= val2.image %>" class="card-img-top img-fluid" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= val2.name  %> (<%= val2.members.length %>) </h5>
              </a>
                <p class="card-text"><%= val2.carrera  %></p>
              </div>
              <div class="card-footer">
                <form action="/home" method="post" id="favorite">

                 
                <input type="hidden" name="id" id="id" value="<%= val2._id %>">
                <input type="hidden" name="groupName" id="group_Name" value="<%= val2.name %>">
               
</form>
                
                
              </div>
            </div>

            <% }) %>
        </div>

        <hr>
      <% }) %>




  <hr>




</div>



<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

<script src="/socket.io/socket.io.js"></script>  
<script src="/js/messagelink.js"></script>
<script src="/js/group/sentrequest.js"></script>
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>

</body>
</html>
