<!DOCTYPE html>
<html>
<head>

  <title><%= title%></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/group.css">    
     
</head>
<body>
  
    <%- include('../partials/navbar.ejs'); %>

<div class="container">
    
  
    <div class="col-md-12">
        
        <input type="hidden" id="name-user" value="<%= user.username %>">
        <input type="hidden" id="name-image" value="<%= user.userImage %>">

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">
                    
                    <div class="col-sm-4 col-md-3 mob-clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="cover">

                                            </div>
                                            <div class="user cover-img">
                                                <img src="https://placehold.it/300x300" class="img-circle" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="main">
                                                    <h3 class="name"><%= user.username %></h3>
                                                    <p class="profession-online">
                                                        <i class="fa fa-circle online" aria-hidden="true"></i>
                                                        Online
                                                    </p>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">

                                            <div class="content main-scroll">
                                                <div class="main" id="main_scroll">
                                                    <p class="friends" style="margin-bottom:0px;">
                                                        Friends Online <span id="numOfFriends"></span>
                                                    </p>
                                                    <hr style="margin-top:10px" />
                                                      <% if(data.friendsList.length > 0) { %>
                                                        <% _.forEach(data.friendsList, function(value) { %>
                                                        <div class="friend" hidden>@<%= value.friendName %></div>                                                        
                                                        <% }) %>
                                                      <% } %>

                                                    
                                                    <div class="onlineFriends"></div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="col-sm-5 col-md-6 message_section">
                        <div class="row">
                            <div class="new_message_head">
                                <div class="pull-left">
                                <button id="receiver_name"></button>
                                </div>
                                <div class="pull-right">
                                </div>
                            </div>

                            <div class="chat_area">
                              <ul id="messages" class="list-unstyled">
                               <% if(chats.length > 0){ %>   
                                    <% _.forEach(chats, function(val) { %>
                                        <% if(name === val.receiver.username.toLowerCase()){ %>
                                            <li class="left">
                                            <span class="chat-img1 pull-left">
                                                <img src="http://placehold.it/300x300" class="img-circle" alt="">
                                            </span>
                                            <div class="chats-body1">
                                                <span class="chat-name"><%= val.senderName %></span>
                                                <br>
                                                <%= val.message %>
                                            </div>
                                            </li> 
                                        <% } else if(name === val.sender.username.toLowerCase){ %>
                                            <li class="left">
                                            <span class="chat-img1 pull-left">
                                                <img src="http://placehold.it/300x300" class="img-circle" alt="">
                                            </span>
                                            <div class="chats-body1">
                                                <span class="chat-name"><%= val.senderName %></span>
                                                <br>
                                                <%= val.message %>
                                            </div>
                                            </li> 
                                        <% } %> 
                                    <% }) %>
                               <% } %> 
                              </ul>

                              <script id="message-template" type="text/template">
                                <li class="left">
                                  <span class="chat-img1 pull-left">
                                    <img src="http://placehold.it/300x300" class="img-circle" alt="">
                                  </span>
                                  <div class="chats-body1">
                                    <span class="chat-name">{{ sender }}</span>
                                    <br>
                                    {{ text }}
                                  </div>
                                </li>
                              </script>

                            </div>

                            <div class="message_write">
                              <form id="message_form" method="post">
                                  <textarea class="form-control" name="message" id="msg" placeholder="Enter message ...."></textarea>
                                  <div class="clearfix"></div>
                                  <div class="chat_bottom">
                                      <button id="send-message" class="pull-right btn btn-primary" style="background: #4aa1f3; border: #4aa1f3; ">
                                          Send
                                      </button>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>






  
</div><!-- Div Container-->






  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>       
  <script src="/js/privatechat/pm.js"></script>
  <script src="/js/messagelink.js"></script>
  <script src="/js/group/sentrequest.js"></script>
  <script src="/js/global.js"></script>
  <script src="/js/deparam.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

</body>
</html>